<div class="example-container">
  <div>
    <h2>Reset Password</h2>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Enter New Password" 
      name="passWord" [(ngModel)]="model.passWord" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Re-enter password"
       name="confirmpassword" [(ngModel)]="model.confirmpassword" required>
    </mat-form-field>
  </div>

  <div>
    <button type="submit" mat-raised-button color="primary" (click)="resetpassword()">Reset Password</button>
  </div>

</div>