<div style="height: 100vh;margin-top: -8px;">

  <mat-toolbar style="background : #fb0">

    <div>
      <button mat-icon-button (click)="sidenav.toggle()" href="#">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div>
      <span>My ToDo App</span>
    </div>

    <div>
      <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <div class="login-design">
      <button type="submit" mat-menu-item [matMenuTriggerFor]="login" (click)="getLogedUser()">

        <div mat-card-avatar class="example-header-image"></div>

      </button>
    </div>

    <mat-menu #login="matMenu">
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutGap="30px">
          <div>

            <div mat-card-avatar class="example-header-image"></div>
            
          </div>

          <div>

            <!-- <p>{{CurrentUser.fullName}}</p>
             <p>{{user.userEmail}}</p> -->
            <button mat-raised-button color="primary">My Account</button>

          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="20px" style="background-color: whitesmoke;height: 74px;margin-left: 21px;">
          <div>

            <div mat-card-avatar class="example-header-image"></div>

          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="70px" class="rowDesign">
          <div>
            <button mat-raised-button color="primary">Add Account</button>
          </div>
          <div>
            <button type="submit" mat-raised-button color="primary" (click)="signOut()">Sign out</button>
          </div>
        </div>
      </div>
    </mat-menu>


  </mat-toolbar>




  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav mode="side" #sidenav opened fxLayout="column">

      <div fxLayout="column">

        <div>
          <a href="/home/note" mat-button>
            <mat-icon>lightbulb_outline</mat-icon> Note</a>
        </div>
        <div>
          <a href="/home/Reminders" mat-button>
            <img src="/assets/icon/remender.svg"> Reminders</a>
        </div>
        <div>
          <a href="/home/trash" mat-button>
            <img src="/assets/icon/archive.svg"> Trash</a>
        </div>
        <div>
          <a href="/home/archive" mat-button>
            <mat-icon>archive</mat-icon> Archive</a>
        </div>

        <div>
          <button mat-menu-item>
            <span>Labels</span>
          </button>
          
          <button mat-menu-item>
              <span>Edit</span>
          </button>
        </div>

        <div *ngFor="let label of labels">
         <div>
            <button mat-menu-item>
                <mat-icon>label</mat-icon>
                <span>{{label.labelTitle}}</span>
            </button>
         </div>
         </div> 
        
         <div>
          <button mat-menu-item  (click)="openLabelDialog()">
            <mat-icon>add</mat-icon>
            <span>Create new lable</span>
          </button>
         </div>

      </div>
    </mat-sidenav>
    <router-outlet></router-outlet>

  </mat-sidenav-container>
</div>