<div style="height: 100vh;margin-top: -8px;">
  <div fxLayout="row">
    <mat-toolbar style="background : #fb0">

      <div>
        <button mat-icon-button (click)="sidenav.toggle()" href="#">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div>
        <span>My ToDo App</span>
      </div>

      <div>
        <button mat-icon-button (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>

      <div>
        <mat-toolbar>
          <button mat-icon-button [matMenuTriggerFor]="matMenu">
            <mat-icon>account_circle</mat-icon>
          </button>
        </mat-toolbar>
      </div>

      <div>
        <mat-menu #matMenu="matMenu">

          <div fxLayout="column">
            <div>Photo</div>
            <div>usermail</div>
            <div>
              <button mat-icon-button (click)="signOut()">sign out</button>
            </div>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar>
  </div>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav mode="side" #sidenav opened fxLayout="column">
      <div fxLayout="column">

        <div>
          <a href="/home/note" mat-button>
            <mat-icon>lightbulb_outline</mat-icon> Note</a>
        </div>
        <div>
          <a href="/home/trash" mat-button>
            <mat-icon>delete</mat-icon> Trash</a>
        </div>
        <div>
          <a href="/home/archive" mat-button>
            <mat-icon>archive</mat-icon> Archive</a>
        </div>


      </div>
    </mat-sidenav>
    <router-outlet></router-outlet>

  </mat-sidenav-container>
</div>