<div>
 
    <span>Enter your email :-</span>
    <div>
        <mat-form-field fxFlex.gt-xs="300px">
            <input matInput placeholder="Email" #usermail name="userEmail" [formControl]="emailControl" [errorStateMatcher]="match" [(ngModel)]="model.userEmail">
            <mat-error *ngIf="emailControl.hasError('required')">Email Address is required</mat-error>
            <mat-error *ngIf="emailControl.hasError('pattern') && !emailControl.hasError('required') ">Enter Valid Email</mat-error>
          </mat-form-field>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary"
      [disabled]="emailControl.invalid" (click)="submitEmail()">Done</button>
    </div>

</div>